a.card-header-icon {
	color: black;
}
header.card-header {
	box-shadow: none;
}
p.card-header-title {
	padding-left: 20px;
	padding-right: 20px;
}
div.card-content {
	padding-top: 0;
	padding-left: 20px;
	padding-right: 20px;
}
#correo-enlace {
	overflow-wrap: break-word;
}
